
/*
 * CORE STYLES
 */

html {
  font-size: 1.2rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--body-default-colour);
  background-color:#2C1B47;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

header h2 {
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.2rem;
}

main {
  margin: 0 1.3rem 5rem 1.3rem;
}

h1 {
  color:white;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

h2 {
  color:white;
  font-size: 4.0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  color: var( --body-heading-colour);
  font-size: 0.9rem;
}

section {
  padding: 4rem 0;
}




/*
 * FORM EXAMPLE
 */

.form-example {
  background-color:#724C9D;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  border-radius: 1rem;
  padding: 1rem;
  margin: 12rem 0;

}

.form-example form {
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem 0;
  color: #fff;
  background-color: var(--colour-blue-700);
  display: flex;
  flex-direction: column;
}

.form-example form label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-results li {
  margin: 10px 0px;
  padding: 20px 10px 20px 10px;
  background-color: var(--colour-orange-200);
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.results {
  color:#fff;
  padding: 1rem;
}


.btn-primary {
  margin: 1rem 0;
  appearance: none;
  background-color:#9356A0;
  border: 1px solid rgba(0, 128, 255, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}


.btn-primary:hover {
  background-color: #000000;
}

.btn-primary1 {
  margin: 1rem 0;
  display: flex;
  align-self: baseline;
}

/* media Responsive Design
*/

@media (max-width: 767px) {
  main {
  min-height: auto;
}
}



  @media (min-width: 768px) and (max-width: 1023px) {
  #app {
  max-width: 80%;
  }
}
  @media (min-width: 1024px) {
  #app {
  max-width: 60%;
  }
}

/*
 SCREEN READER UTILITY
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

